<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="products_banner">
  <div class="row">
    <div class="col-md-6 w3ls_mobiles_grid_right_left">
      <div class="w3ls_mobiles_grid_right_grid1">
        <img
                src="/images/pbg1.jpg"
                alt=" "
                class="img-fluid radius-image"
        />
        <div class="w3ls_mobiles_grid_right_grid1_pos1">
          <h3>Best<span> Price</span> on Vegetables</h3>
        </div>
      </div>
    </div>
    <div class="col-md-6 w3ls_mobiles_grid_right_left">
      <div class="w3ls_mobiles_grid_right_grid1">
        <img
                src="/images/pbg2.jpg"
                alt=" "
                class="img-fluid radius-image"
        />
        <div class="w3ls_mobiles_grid_right_grid1_pos">
          <h3>Best Deals <span> For New</span>Products</h3>
        </div>
      </div>
    </div>
  </div>
</th:block>
</html>