<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <th:block th:fragment="footer">
    <!-- footer -->
    <div class="footer pt-5">
      <div class="container py-4">
        <div class="row w3_footer_grids">
          <div class="col-md-3 w3_footer_grid">
            <h3>Contact</h3>
            <ul class="address">
              <li>
                <i class="fas fa-map-marker-alt"></i>London, 235 Terry, 10001
              </li>
              <li>
                <i class="fas fa-envelope-open-text"></i
                ><a href="mailto:info@example.com">info@example.com</a>
              </li>
              <li>
                <a href="tel:+44-000-888-999"
                  ><i class="fas fa-phone-alt"></i>++44-000-888-999</a
                >
              </li>
            </ul>
          </div>
          <div class="col-md-3 w3_footer_grid">
            <h3>Information</h3>
            <ul class="info">
              <li>
                <a href="about.html"
                  ><i class="fas fa-angle-right"></i>About Us</a
                >
              </li>
              <li>
                <a href="mail.html"
                  ><i class="fas fa-angle-right"></i>Contact Us</a
                >
              </li>
              <li>
                <a href="codes.html"
                  ><i class="fas fa-angle-right"></i>Shortcodes</a
                >
              </li>
              <li>
                <a href="faq.html"><i class="fas fa-angle-right"></i>FAQ's</a>
              </li>
              <li>
                <a href="products1.html"
                  ><i class="fas fa-angle-right"></i>Special Products</a
                >
              </li>
            </ul>
          </div>
          <div class="col-md-3 w3_footer_grid">
            <h3>Category</h3>
            <ul class="info">
              <li>
                <a href="products1.html"
                  ><i class="fas fa-angle-right"></i>Fruits & Vegetables</a
                >
              </li>
              <li>
                <a href="products2.html"
                  ><i class="fas fa-angle-right"></i>Meats & Seafood</a
                >
              </li>
              <li>
                <a href="products1.html"
                  ><i class="fas fa-angle-right"></i>Bakery & Pastry</a
                >
              </li>
              <li>
                <a href="products2.html"
                  ><i class="fas fa-angle-right"></i>Beverages</a
                >
              </li>
              <li>
                <a href="products1.html"
                  ><i class="fas fa-angle-right"></i>Breakfast & Dairy</a
                >
              </li>
            </ul>
          </div>
          <div class="col-md-3 w3_footer_grid">
            <h3>Profile</h3>
            <ul class="info">
              <li>
                <a href="index.html"><i class="fas fa-angle-right"></i>Home</a>
              </li>
              <li>
                <a href="products2.html"
                  ><i class="fas fa-angle-right"></i>Today's Deals</a
                >
              </li>
            </ul>
            <h4>Follow Us</h4>
            <div class="agileits_social_button">
              <ul>
                <li>
                  <a href="#facebook" class="facebook"
                    ><i class="fab fa-facebook-f"></i>
                  </a>
                </li>
                <li>
                  <a href="#twitter" class="twitter"
                    ><i class="fab fa-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="#google" class="google"
                    ><i class="fab fa-google-plus-g"></i>
                  </a>
                </li>
                <li>
                  <a href="#pinterest" class="pinterest"
                    ><i class="fab fa-pinterest-p"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-copy mt-4">
        <div class="container">
          <p class="copy-text">
            &copy; 2021 Grocery Mart. All rights reserved.
          </p>
        </div>
      </div>
    </div>
    <!-- //footer -->
  </th:block>
</html>
