<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="modals">
  <div class="modal fade" id="myModal17" tabindex="-1" aria-labelledby="myModal17" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header border-0">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="row modal-body">
          <div class="col-md-5 modal_body_left">
            <img src="/images/pp1.png" alt=" " class="img-fluid"/>
          </div>
          <div class="col-md-7 modal_body_right">
            <h4>Red Chilli Powder</h4>
            <p>Ut enim ad minim veniam, quis nostrud
              exercitation ullamco laboris nisi ut aliquip ex ea
              commodo consequat.Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore
              eu fugiat nulla pariatur. Excepteur sint occaecat
              cupidatat non proident, sunt in culpa qui officia
              deserunt mollit anim id est laborum.</p>
            <div class="rating">
              <div class="rating-left">
                <img src="/images/star-.png" alt=" " class="img-fluid"/>
              </div>
              <div class="rating-left">
                <img src="/images/star-.png" alt=" " class="img-fluid"/>
              </div>
              <div class="rating-left">
                <img src="/images/star-.png" alt=" " class="img-fluid"/>
              </div>
              <div class="rating-left">
                <img src="/images/star.png" alt=" " class="img-fluid"/>
              </div>
              <div class="rating-left">
                <img src="/images/star.png" alt=" " class="img-fluid"/>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="modal_body_right_cart simpleCart_shelfItem">
              <p><span>$280</span> <i class="item_price">$180</i></p>
              <form action="#" method="post">
                <input type="hidden" name="cmd" value="_cart">
                <input type="hidden" name="add" value="1">
                <input type="hidden" name="w3ls_item" value="Red Chilli Powder">
                <input type="hidden" name="amount" value="180.00">
                <button type="submit" class="w3ls-cart">Add to cart</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="myModal18" tabindex="-1" aria-labelledby="myModal18" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header border-0">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="row modal-body">
          <div class="col-md-5 modal_body_left">
            <img src="/images/pp3.png" alt=" " class="img-fluid"/>
          </div>
          <div class="col-md-7 modal_body_right">
            <h4>Fortune Rice</h4>
            <p>Ut enim ad minim veniam, quis nostrud
              exercitation ullamco laboris nisi ut aliquip ex ea
              commodo consequat.Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore
              eu fugiat nulla pariatur. Excepteur sint occaecat
              cupidatat non proident, sunt in culpa qui officia
              deserunt mollit anim id est laborum.</p>
            <div class="rating">
              <div class="rating-left">
                <img src="/images/star-.png" alt=" " class="img-fluid"/>
              </div>
              <div class="rating-left">
                <img src="/images/star-.png" alt=" " class="img-fluid"/>
              </div>
              <div class="rating-left">
                <img src="/images/star-.png" alt=" " class="img-fluid"/>
              </div>
              <div class="rating-left">
                <img src="/images/star.png" alt=" " class="img-fluid"/>
              </div>
              <div class="rating-left">
                <img src="/images/star.png" alt=" " class="img-fluid"/>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="modal_body_right_cart simpleCart_shelfItem">
              <p><span>$30</span> <i class="item_price">$25</i></p>
              <form action="#" method="post">
                <input type="hidden" name="cmd" value="_cart">
                <input type="hidden" name="add" value="1">
                <input type="hidden" name="w3ls_item" value="Fortune Rice">
                <input type="hidden" name="amount" value="25.00">
                <button type="submit" class="w3ls-cart">Add to cart</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="myModal19" tabindex="-1" aria-labelledby="myModal19" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header border-0">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="row modal-body">
          <div class="col-md-5 modal_body_left">
            <img src="/images/pp5.png" alt=" " class="img-fluid"/>
          </div>
          <div class="col-md-7 modal_body_right">
            <h4>Freedom Oil</h4>
            <p>Ut enim ad minim veniam, quis nostrud
              exercitation ullamco laboris nisi ut aliquip ex ea
              commodo consequat.Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore
              eu fugiat nulla pariatur. Excepteur sint occaecat
              cupidatat non proident, sunt in culpa qui officia
              deserunt mollit anim id est laborum.</p>
            <div class="rating">
              <div class="rating-left">
                <img src="/images/star-.png" alt=" " class="img-fluid"/>
              </div>
              <div class="rating-left">
                <img src="/images/star-.png" alt=" " class="img-fluid"/>
              </div>
              <div class="rating-left">
                <img src="/images/star-.png" alt=" " class="img-fluid"/>
              </div>
              <div class="rating-left">
                <img src="/images/star.png" alt=" " class="img-fluid"/>
              </div>
              <div class="rating-left">
                <img src="/images/star.png" alt=" " class="img-fluid"/>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="modal_body_right_cart simpleCart_shelfItem">
              <p><span>$950</span> <i class="item_price">$810</i></p>
              <form action="#" method="post">
                <input type="hidden" name="cmd" value="_cart">
                <input type="hidden" name="add" value="1">
                <input type="hidden" name="w3ls_item" value="Freedom Oil">
                <input type="hidden" name="amount" value="810.00">
                <button type="submit" class="w3ls-cart">Add to cart</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="myModal20" tabindex="-1" aria-labelledby="myModal20" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header border-0">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="row modal-body">
          <div class="col-md-5 modal_body_left">
            <img src="/images/pp7.png" alt=" " class="img-fluid"/>
          </div>
          <div class="col-md-7 modal_body_right">
            <h4>Lipton Green Tea</h4>
            <p>Ut enim ad minim veniam, quis nostrud
              exercitation ullamco laboris nisi ut aliquip ex ea
              commodo consequat.Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore
              eu fugiat nulla pariatur. Excepteur sint occaecat
              cupidatat non proident, sunt in culpa qui officia
              deserunt mollit anim id est laborum.</p>
            <div class="rating">
              <div class="rating-left">
                <img src="/images/star-.png" alt=" " class="img-fluid"/>
              </div>
              <div class="rating-left">
                <img src="/images/star-.png" alt=" " class="img-fluid"/>
              </div>
              <div class="rating-left">
                <img src="/images/star-.png" alt=" " class="img-fluid"/>
              </div>
              <div class="rating-left">
                <img src="/images/star.png" alt=" " class="img-fluid"/>
              </div>
              <div class="rating-left">
                <img src="/images/star.png" alt=" " class="img-fluid"/>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="modal_body_right_cart simpleCart_shelfItem">
              <p><span>$39</span> <i class="item_price">$29</i></p>
              <form action="#" method="post">
                <input type="hidden" name="cmd" value="_cart">
                <input type="hidden" name="add" value="1">
                <input type="hidden" name="w3ls_item" value="Lipton Green Tea">
                <input type="hidden" name="amount" value="29.00">
                <button type="submit" class="w3ls-cart">Add to cart</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="myModal21" tabindex="-1" aria-labelledby="myModal21" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header border-0">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="row modal-body">
          <div class="col-md-5 modal_body_left">
            <img src="/images/pp9.png" alt=" " class="img-fluid"/>
          </div>
          <div class="col-md-7 modal_body_right">
            <h4>Amul Wheat Atta</h4>
            <p>Ut enim ad minim veniam, quis nostrud
              exercitation ullamco laboris nisi ut aliquip ex ea
              commodo consequat.Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore
              eu fugiat nulla pariatur. Excepteur sint occaecat
              cupidatat non proident, sunt in culpa qui officia
              deserunt mollit anim id est laborum.</p>
            <div class="rating">
              <div class="rating-left">
                <img src="/images/star-.png" alt=" " class="img-fluid"/>
              </div>
              <div class="rating-left">
                <img src="/images/star-.png" alt=" " class="img-fluid"/>
              </div>
              <div class="rating-left">
                <img src="/images/star-.png" alt=" " class="img-fluid"/>
              </div>
              <div class="rating-left">
                <img src="/images/star.png" alt=" " class="img-fluid"/>
              </div>
              <div class="rating-left">
                <img src="/images/star.png" alt=" " class="img-fluid"/>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="modal_body_right_cart simpleCart_shelfItem">
              <p><span>$425</span> <i class="item_price">$425</i></p>
              <form action="#" method="post">
                <input type="hidden" name="cmd" value="_cart">
                <input type="hidden" name="add" value="1">
                <input type="hidden" name="w3ls_item" value="Amul Wheat Atta">
                <input type="hidden" name="amount" value="425.00">
                <button type="submit" class="w3ls-cart">Add to cart</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="myModal22" tabindex="-1" aria-labelledby="myModal22" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header border-0">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="row modal-body">
          <div class="col-md-5 modal_body_left">
            <img src="/images/pp11.png" alt=" " class="img-fluid"/>
          </div>
          <div class="col-md-7 modal_body_right">
            <h4>MOTHER'S Mango Pickle</h4>
            <p>Ut enim ad minim veniam, quis nostrud
              exercitation ullamco laboris nisi ut aliquip ex ea
              commodo consequat.Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore
              eu fugiat nulla pariatur. Excepteur sint occaecat
              cupidatat non proident, sunt in culpa qui officia
              deserunt mollit anim id est laborum.</p>
            <div class="rating">
              <div class="rating-left">
                <img src="/images/star-.png" alt=" " class="img-fluid"/>
              </div>
              <div class="rating-left">
                <img src="/images/star-.png" alt=" " class="img-fluid"/>
              </div>
              <div class="rating-left">
                <img src="/images/star-.png" alt=" " class="img-fluid"/>
              </div>
              <div class="rating-left">
                <img src="/images/star.png" alt=" " class="img-fluid"/>
              </div>
              <div class="rating-left">
                <img src="/images/star.png" alt=" " class="img-fluid"/>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="modal_body_right_cart simpleCart_shelfItem">
              <p><span>$30</span> <i class="item_price">$22</i></p>
              <form action="#" method="post">
                <input type="hidden" name="cmd" value="_cart">
                <input type="hidden" name="add" value="1">
                <input type="hidden" name="w3ls_item" value="MOTHER'S Mango Pickle">
                <input type="hidden" name="amount" value="22.00">
                <button type="submit" class="w3ls-cart">Add to cart</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</th:block>
</html>