<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head>
    <script src="http://localhost:35729/livereload.js"></script>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">
      Grocery Mart
    </title>
    <!-- Custom Theme files -->
    <link
      th:href="@{css/style.css}"
      rel="stylesheet"
      type="text/css"
      media="all"
    />
    <!-- //Custom Theme files -->
  </head>
  <body>
    <th:block th:insert="~{fragments/header :: header}"></th:block>
    <!-- //header -->

    <!-- banner -->
    <th:block th:insert="~{fragments/banner :: banner}"></th:block>
    <!-- //banner -->

    <!-- breadcrumbs -->
    <th:block layout:fragment="breadcrumbs">
      <!--this is area for content-->
    </th:block>
    <!-- //breadcrumbs -->

    <th:block layout:fragment="content">
      <!--this is area for content-->
    </th:block>

    <!-- footer -->
    <th:block th:insert="~{fragments/footer :: footer}"></th:block>
    <!-- //footer -->

    <!-- js-scripts -->
    <th:block th:insert="~{fragments/scripts :: scripts}">footer</th:block>
    <!-- //js-scripts -->
  </body>
</html>
