<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="prices-filter">
  <div class="w3ls_mobiles_grid_left_grid">
    <h3>Price</h3>
    <div class="w3ls_mobiles_grid_left_grid_sub">
      <div class="ecommerce_color ecommerce_size">
        <ul>
          <li><a href="#"><input type="checkbox" class="checked">Below $ 100</a></li>
          <li><a href="#"><input type="checkbox" class="checked">$ 100-500</a></li>
          <li><a href="#"><input type="checkbox" class="checked">$ 1k-10k</a></li>
          <li><a href="#"><input type="checkbox" class="checked">$ 10k-20k</a></li>
          <li><a href="#"><input type="checkbox" class="checked">$ Above 20k</a></li>
        </ul>


      </div>
    </div>
  </div>

</th:block>
</html>